* {
    font-family: monospace;
    color: rgb(225, 237, 225);

    /* border: 5px solid rgb(0, 0, 0); */
    
}


:is(h1, h2, h3, h4, h5, h6,
    p, li){
        transition: 1.0s ease;
        padding: 5px;
    }
:is(h1, h2, h3, h4, h5, h6,
    p, li):hover{
    background-color: rgb(36, 37, 38);
    transition: 0.3s;
}

html, body {
    height: 100%;
}

body {
    
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: rgb(18, 19, 20);
    text-align: center;
}


ul {

    text-align: left;
    padding: 0;
    margin-left: 40px;
    list-style-type: '/';
    list-style-position: inside
}

img {
    border-radius: 10%;
}

.container_proj {
    background-color: rgb(25, 26, 27);

    text-align:left;
    margin: 20px;
    padding: 0px;
    
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(35, 36, 36);
}
.container_proj h3 {
    padding: 10px;
    margin: 0 0 10px 0;
}
.container_proj p {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 10px;
}